<div id="navbar-wrapper">
  <nav class="navbar navbar-default"  style="z-index: 2;" ng-class="{scroll: (scroll>10)}">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
        <a ui-sref="anon.home">
          <img src="img/emptyMME.gif" class="img-bar-logo"> <span class="title-bar">noesperecolas</span>
        </a>
      </div>
      <div ng-init="main()" class="nav navbar-nav navbar-right navbar-right-no-collapse">
        <p class="" ng-if="isLoggedIn">Hola {{user.resp_comp.names}}</p>
        <button ng-if="!isLoggedIn" ui-sref="anon.login">Iniciar session</button>
      </div>
    </div>
  </nav>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <aside id="sidebar">
      <ul id="sidemenu" class="sidebar-nav">
        <li><a ui-sref="anon.companyprofile">Perfil</a></li>
        <li><a ui-sref="anon.companyrecord">Historial de pedidos</a></li>
        <li><a ui-sref="anon.selectpack">Hacer pedido</a></li>
        <li><a ui-sref="anon.login" ng-click="logout()">Cerrar sesión</a></li>
      </aside>
    </div>
    <main id="page-content-wrapper" role="main">
      <div class="card bordered" ng-init="getCompany()"  style="margin: 0; width:100%;">
          <div class="row">

            <div class="col-md-12 p-r-30 p-l-60 ">
              <h2>Empresa</h2>
            </div>
            <div class="col-md-6 p-r-30 p-l-60 p-t-40 p-b-40">
              <div id="forms-validation-container">
                <div class="form-group">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" ng-model="company.resp_comp.comp_resp.name" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="email" class="form-control" ng-model="company.resp_comp.comp_resp.email" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label">Dirección</label>
                  <input type="email" class="form-control" ng-model="company.resp_comp.comp_resp.address" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label">Provincia</label>
                  <input type="email" class="form-control" ng-model="company.resp_comp.comp_resp.province" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-r-30 p-l-60 p-t-40 p-b-40">
              <div class="form-group">
                <label class="control-label">CIF</label>
                <input type="text" class="form-control" ng-model="company.resp_comp.comp_resp.cif" readonly>
              </div>
              <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input type="email" class="form-control" ng-model="company.resp_comp.comp_resp.phone" readonly>
              </div>
              <div class="form-group">
                <label class="control-label">Localidad</label>
                <input type="email" class="form-control" ng-model="company.resp_comp.comp_resp.location" readonly>
              </div>

              <div id="forms-validation-container">
                <div class="form-group">
                  <label class="control-label">Código postal</label>
                  <input type="text" class="form-control" ng-model="company.resp_comp.comp_resp.postal_code" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-12 p-r-30 p-l-60 ">
              <h2>Responsable</h2>
            </div>
            <div class="col-md-6 p-r-30 p-l-60 p-t-40 p-b-40">
              <div id="forms-validation-container">
                <div class="form-group">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" ng-model="user.resp_comp.names" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label">DNI</label>
                  <input type="text" class="form-control" ng-model="user.resp_comp.dni" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-r-30 p-l-60 p-t-40 p-b-40">
              <div id="forms-validation-container">
                <div class="form-group">
                  <label class="control-label">Apellidos</label>
                  <input type="text" class="form-control" ng-model="user.resp_comp.surnames" readonly>
                </div>

              </div>
            </div>
        </div>
        </div>
    </main>
  </div>

<footer id="footer" class="well white site-footer">
  <div class="row p-b-10" style="border-bottom: 1px #ddd solid;">
    <div class="col-lg-5">
      <ul class="nav navbar-nav">
        <li class="pull-left">
          <button ng-click="toggleSearch()" class="btn btn-sm btn-link pull-left withoutripple">
            <img src="img/social_network/facebook.png" width="48">
          </button>
        </li>
        <li class="pull-left">
          <button ng-click="toggleSearch()" class="btn btn-sm btn-link pull-left withoutripple">
            <img src="img/social_network/twitter.png" width="48">
          </button>
        </li>
        <li class="pull-left">
          <button ng-click="toggleSearch()" class="btn btn-sm btn-link pull-left withoutripple">
            <img src="img/social_network/instagram.png" width="48">
          </button>
        </li>
      </ul>
    </div>
    <div class="col-lg-7">
        <ul class="nav navbar-nav" style="float: right;">
        <li class="pull-left">
          <a href="">
            <b>FAQ</b>
          </a>
        </li>
        <li class="pull-left">
          <a href="">
           <b>
             Quienes somos?
           </b>
          </a>
        </li>
        <li class="pull-left">
          <a href="">
            <b> Contacto </b>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav navbar-nav">
        <li class="pull-left">
          <a href="">Copyright 2015 - NoEsperesColas</a>
        </li>
        <li class="pull-left">
          <a href="">Politicas de Privacidad</a>
        </li>
        <li class="pull-left">
          <a href="">Terminos Legales</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
