 
<div class="dashboard grey lighten-3" ng-controller="ListTransactionsCtrl">
  <div class="row no-gutter">
    <div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">
      <div class="p-20 clearfix">
        <div class="page-header" style=" margin-bottom: 0;
">
            <h1>
              <i class="md md-dashboard"></i>
              Panel Principal (Cajero)
            </h1>
            <p class="lead">
              Verifique las transacciones y tome las que se adapten a su condicion.
            </p>
          </div>
      </div>

      <div class="p-20 no-p-t">

      <div class="row gutter-14 kpi-dashboard">
          <div class="col-md-3">
            <div class="card small">
              <div class="theme-lighten-1 p-10">
                <div class="pull-right">
                </div>
                <h4 class="no-margin white-text w600">En Proceso</h4>
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-12 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{counter_status.process}}</h3>
                    <p class="grey-text w600">Totales</p>
                  </div>
                  <!-- <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">56</h3>
                    <p class="grey-text w600">Total del Dia</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card small">
              <div class="theme-lighten-1 p-10">
                <div class="pull-right">
                </div>
                <h4 class="no-margin white-text w600">En Verificacion </h4>
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-12 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{counter_status.pending}}</h3>
                    <p class="grey-text w600">Totales</p>
                  </div>
               <!--    <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">89</h3>
                    <p class="grey-text w600">Total del Dia</p>
                  </div> -->
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="card small">
              <div class="green lighten-1 p-10">
                <div class="pull-right">
                </div>
                <h4 class="no-margin white-text w600">Completadas</h4>
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-12 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{counter_status.success}}</h3>
                    <p class="grey-text w600">Totales</p>
                  </div>
               <!--    <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">89</h3>
                    <p class="grey-text w600">Total del Dia</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card small">
              <div class="theme-secondary-lighten-1 p-10">
                <div class="pull-right">
                </div>
                <h4 class="no-margin white-text w600">En Disputa</h4>
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-12 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{counter_status.dispute}}</h3>
                    <p class="grey-text w600">Totales</p>
                  </div>
               <!--    <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">89</h3>
                    <p class="grey-text w600">Total del Dia</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="card small">
              <div class="green lighten-1 p-10">
                <div class="pull-right">
                  <div>
                    <i class="md md-trending-up  text-rgb-5"></i>
                    9%
                  </div> 
                </div>

                <h4 class="no-margin white-text w600">Ingresos Por Comisión</h4>
                 <div class="f11" style="opacity:0.8">
                  <i class="md md-star-outline"></i> Latest 10 May, 10:00
                </div> 

                 <div class="p-10 p-t-30">
                  <c3chart bindto-id="chart-line-3">
                    <chart-column column-id="Signups"
                                  column-values="{{chartData3}}"
                                  column-type="line" />
                    <chart-axis-y show="false" />
                    <chart-axis-x show="false" />
                    <chart-legend show-legend="false" />
                    <chart-size chart-height="100px" />
                    <chart-tooltip show-tooltip="true" />
                    <chart-colors color-pattern="#fff" />
                  </c3chart>
                </div> 
              </div>

              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">4052$</h3>
                    <p class="grey-text w600">Totales de Mes</p>
                  </div>
                  <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">215$ </h3>
                    <p class="grey-text w600">Total del Dia</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        
        <div class="row gutter-14">
          <div class="col-md-12">

<div ng-controller="CrudController">

    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title">Transacciones </h3>
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <!-- <th><input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" /></th> -->
          <th>Icon</th>
          <th fsm-sort="firstname">Tipo</th>
          <th fsm-sort="lastname">Usuario</th>
          <th>Destino</th>
          <th>Status</th>
          <th class="text-right">Preliminar</th>
          <!-- <th class="text-right">Tomar</th> -->
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, item) in transactions" ng-click="item.selected=!item.selected" ui-sref="master.transaction({id:item.id})">
            <!-- <td><input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" /></td> -->
            <td class="f20">
              <i class="md md-transform"></i>
            </td>
            <td>{{ item.transaction_type.transaction_type }}</td>
            <td>{{ item.user.email }}</td>
            <td>{{ item.bank_2.bank.bank}} {{item.wallet_2.type_wallet.type_wallet}}</td>
            <td><b ng-class="{'text-complete': item.transaction_status.transaction_status=='Finalizada'}">{{ item.transaction_status.transaction_status }}</b></td>
            <td class="text-right" ng-click="$event.stopPropagation()">
              <!-- <button type="button" class="btn btn-link btn-round" data-title="Edit item"  ng-click="editItem(item)"><i class="md md-edit"></i></button> -->
              <button type="button" class="btn btn-link btn-round" data-title="View item" ng-click="editItem(item)"><i class="md md-search"></i></button>
              <!-- <button type="button" class="btn btn-link btn-round" data-title="Delete item" ng-click="remove(item)"><i class="md md-delete"></i></button> -->
            </td>
          <!--   <td class="text-right" ng-click="$event.stopPropagation()">
                 <button type="button" class="btn btn-link btn-round" data-title="View item" ng-click="editItem(item)"><i class="md md-done"></i></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

</div> 

          </div>
        </div>

        <div class="grey-text small p-t-20" ng-cloak>Todos los derechos reservados - 
        Negocios Exchange</div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 notifications-panel">

       <div class="p-t-20 p-b-0 p-l-20 p-r-20">
        <div class="pull-right">
          <ul class="list-unstyled">
            <li class="dropdown">
              <button type="button" class="btn btn-round-sm btn-link ng-scope" bs-dropdown="dropdown" aria-haspopup="true" aria-expanded="false" bs-tooltip="" title="">
                <i class="fa fa-bell"></i>
              </button>
              <!-- data-template-url="tpl/partials/dropdown-list-example.html" data-animation="mat-grow-top-right"  -->
            </li>
        </ul></div>
        <h4 class="grey-text m-b-10">Notificaciones</h4>
      </div>

      <div class="p-h-10">
<!-- 
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
             <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">Log</a></li> 
            <li role="presentation" class=""><a ng-click="actionTab=1" aria-controls="home" role="tab" class="grey-text" data-toggle="tab">Notificaciones </a> </li>
             <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Messages</a></li> 
          </ul> -->
          <div class="tab-content m-t-10">
            <div>

              <ul class="timeline" infinite-scroll='loadNotifications()' infinite-scroll-distance='3'>
               <!--  <li>
                  <div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Cambio de Dolares a Bolivares</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Junior Gerdet solicito al Cajero Simon Scott</p>
                      <small class="text-muted"><i class="md md-timer"></i> Hace 11 horas</small>
                    </div>
                  </div>
                </li> -->
                <li class="timeline-inverted animate-repeat" ng-repeat="item in notifications" ng-click="openNotification(item.id,item.transaction.id)"  style="cursor: pointer;">
                  <div class="timeline-badge">
                    <i class="icon-circle theme-secondary-border"></i>
                    <!-- <i class="icon-circle green-border"></i> -->
                    <!-- <i class="icon-circle red-border accent-1"></i> -->
                    <!-- <i class="icon-circle theme-border"></i> -->
                    <!-- <i class="icon-circle brown-border"></i> -->
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title" ng-class="{'bold-title':!item.viewed}"><i class="fa fa-envelope" ng-show="!item.viewed" aria-hidden="true"></i>
                      <i class="fa fa-envelope-o" ng-show="item.viewed" aria-hidden="true"></i> Intercambio de {{item.transaction.transaction_type.transaction_type}}</h4>
                    </div>
                    <div class="timeline-body">
                      <p ng-bind-html="item.title"></p>
                      <!-- <small class="text-muted"><i class="md md-timer"></i> Hace 12 horas</small> -->
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
              <ul class="timeline" ng-init="(rows=[]).length=5;">
                <li ng-repeat="i in rows track by $index">
                  <div class="timeline-badge"><img placeholder-img class="img-responsive" /></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title" placeholder-name></h4>
                    </div>
                    <div class="timeline-body">
                      <span placeholder-p></span>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
     