<header class="navbar navbar-default" ng-class="{scroll: (scroll>10)}">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a ui-sref="anon.home">
  <img src="img/emptyMME.gif" class="img-bar-logo"> <span class="title-bar">noesperecolas</span>
</a>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
      <li class="dropdown pull-right">
        <ui-select ng-model="mode.selected" theme="select2" title="Modo" search-enabled="false">
          <ui-select-match placeholder="Modo de Usuario">{{$select.selected.title}}</ui-select-match>
          <ui-select-choices repeat="item in modes | filter: $select.search">
            <div ng-bind-html="item.title | highlight: $select.search"></div>
            <!-- <small ng-bind-html="item.email | highlight: $select.search"></small> -->
          </ui-select-choices>
        </ui-select>
      </li>
    </ul>
  </div>
</header>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/emptyMME.gif" alt="Chania">
    </div>

    <div class="item">
      <img src="img/emptyMME.gif" alt="Chania">
    </div>

    <div class="item">
      <img src="img/emptyMME.gif" alt="Flower">
    </div>

    <div class="item">
      <img src="img/emptyMME.gif" alt="Flower">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<form class="form-floating" name="form" ng-submit="signUp(form)" novalidate="">
  <fieldset>
    <div class="card bordered z-depth-1"  style="margin: 0; width:100%;">

    <div class="row">
      <div class="card-content">

          <div class="col-md-11 col-md-offset-1" style="margin-bottom:0">
        <h1>
          <i class="md md-input"></i>
          Datos de la empresa
        </h1>
      </div>
        <div class="col-md-4 col-md-offset-1">
    <div id="forms-validation-container">

                <div class="form-group">
                  <label class="control-label">Nombre</label>
                  <input type="text" name="companyname" class="form-control" ng-model="user.companyname" required-err-type="fieldRequired" required>
                  <!-- <p \
                  g-show="form.username.$invalid && !form.username.$pristine" class="help-block">El defaultErrorMessageResolverusuardefaultErrorMessageResolverdefaultErrorMessageResolverio de ser un nombre alphanumerico de al menos 4 caracteres.</p> -->
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="email" class="form-control" ng-model="user.email" required-err-type="fieldRequired" email-err-type="emailValidate" required>
                  <!-- <p class="help-block hint-block">Correo Electronico del usuario</p> -->
                </div>
                <div class="form-group">
                  <label class="control-label">Dirección</label>
                  <input type="address" class="form-control" ng-model="user.address" required-err-type="fieldRequired" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Provincia</label>
                  <input type="province" class="form-control" ng-model="user.province"  required-err-type="fieldRequired" required>
                </div>
          </div>
        </div>
            <div class="col-md-4 col-md-offset-1">
    <div id="forms-validation-container">
                 <div class="form-group">
                  <label class="control-label">CIF</label>
                  <input type="cif" class="form-control" ng-model="user.cif"  required-err-type="fieldRequired" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Telefono</label>
                  <input type="companyphone" class="form-control" ng-model="user.companyphone"  required-err-type="fieldRequired" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Localidad</label>
                  <input type="location" class="form-control" ng-model="user.location"  required-err-type="fieldRequired" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Código postal</label>
                  <input type="postalcode" class="form-control" ng-model="user.postalcode"  required-err-type="fieldRequired" required>
                </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card bordered z-depth-1"  style="margin: 0; width:100%;">
      <div class="row">
        <div class="card-content">
          <div class="col-md-11 col-md-offset-1" style="margin-bottom:0">
            <h1>Responsable</h1>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <div id="forms-validation-container">
                  <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input type="text" name="name" class="form-control" ng-model="user.name" required-err-type="fieldRequired" required>
                    <!-- <p \
                    g-show="form.username.$invalid && !form.username.$pristine" class="help-block">El defaultErrorMessageResolverusuardefaultErrorMessageResolverdefaultErrorMessageResolverio de ser un nombre alphanumerico de al menos 4 caracteres.</p> -->
                  </div>
                  <div class="form-group">
                    <label class="control-label">DNI</label>
                    <input type="id" class="form-control" ng-model="user.id" required-err-type="fieldRequired" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" ng-model="user.email" required-err-type="fieldRequired" email-err-type="emailValidate" required>
                    <!-- <p class="help-block hint-block">Correo Electronico del usuario</p> -->
                  </div>

                  <div class="form-group">
                    <label class="control-label">Contraseña</label>
                    <input type="password" class="form-control" ng-model="user.password"  required-err-type="fieldRequired" required>
                  </div>
            </div>
          </div>
              <div class="col-md-4 col-md-offset-1">
      <div id="forms-validation-container">
                   <div class="form-group">
                    <label class="control-label">Apellidos</label>
                    <input type="lastname" class="form-control" ng-model="user.lastname"  required-err-type="fieldRequired" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Telefono</label>
                    <input type="phone" class="form-control" ng-model="user.phone"  required-err-type="fieldRequired" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Confirmación email</label>
                    <input type="emailconf" class="form-control" ng-model="user.email"  required-err-type="fieldRequired" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Confirmacion contraseña</label>
                    <input type="passwordconf" class="form-control" ng-model="user.password"  required-err-type="fieldRequired" required>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bordered z-depth-1"  style="margin: 0; width:100%;">
      <div class="row">
        <div class="card-content">
            <div class="form-group" style="text-align: center;">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
      </div>
    </div>

  </fieldset>
</form>

<footer class="well white site-footer">
  <div class="row p-b-10" style="border-bottom: 1px #ddd solid;">
    <div class="col-lg-5">
      <ul class="nav navbar-nav">
        <li class="pull-left">
          <button ng-click="toggleSearch()" class="btn btn-sm btn-link pull-left withoutripple">
            <img src="img/social_network/facebook.png" width="48">
          </button>
        </li>
        <li class="pull-left">
          <button ng-click="toggleSearch()" class="btn btn-sm btn-link pull-left withoutripple">
            <img src="img/social_network/twitter.png" width="48">
          </button>
        </li>
        <li class="pull-left">
          <button ng-click="toggleSearch()" class="btn btn-sm btn-link pull-left withoutripple">
            <img src="img/social_network/instagram.png" width="48">
          </button>
        </li>
      </ul>
    </div>
    <div class="col-lg-7">
        <ul class="nav navbar-nav" style="float: right;">
        <li class="pull-left">
          <a href="">
            <b>FAQ</b>
          </a>
        </li>
        <li class="pull-left">
          <a href="">
           <b>
             Quienes somos?
           </b> 
          </a>
        </li>
        <li class="pull-left">
          <a href="">
            <b> Contacto </b>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul class="nav navbar-nav">
        <li class="pull-left">
          <a href="">Copyright 2015 - NoEsperesColas</a> 
        </li>
        <li class="pull-left">
          <a href="">Politicas de Privacidad</a> 
        </li>
        <li class="pull-left">
          <a href="">Terminos Legales</a>
        </li>
      </ul>
    </div>
  </div>
</footer>


